header {
  background-image: url("../../media/lawyer5_slider_bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
@media (max-width: 767px) {
  header {
    > .contents {
      width: 100%;
      height: 60vh;
      padding: 30px;
      > :nth-child(1) {
        padding: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        h1 {
          color: #fefefe;
          font-size: 32px;
          font-weight: 500;
        }
        p {
          font-size: 13px;
          font-weight: 500;
          color: #fefefe;
        }
      }
      > :nth-child(2) {
        color: #fefefe;
        padding: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        :nth-child(1) {
          margin: 30px 0 0 0;
          font-size: 15px;
          line-height: 23px;
        }
        :nth-child(2) {
          direction: ltr;
        }
      }
    }
  }
  .navbarmenu {
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    .logo {
      width: 100%;
      height: inherit;
      > img {
        width: 90%;
        height: 80%;
        object-fit: contain;
        margin-top: 7px;
      }
    }
    .menu {
      #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        top: 10px;
        background-color: white;
        transition-duration: 0.25s;
      }
      .menu__btn > span::before {
        content: "";
        top: -8px;
      }
      .menu__btn > span::after {
        content: "";
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 70px;
        left: -101%;
        width: 100%;
        height: 30vh;
        margin: 0;
        padding: 20px 0;
        list-style: none;
        background-color: #54595f;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
        transition-duration: 0.25s;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: rgb(202, 202, 202);
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        transition-duration: 0.25s;
      }
      .menu__item:hover {
        color: white;
      }
    }
  }
}
