@media (max-width: 767px) {
  .section2 {
    width: 100%;
    height: auto;
    background-color: #898d93;
    margin-top: -40vh;
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 20px 20px 20px;
      flex-direction: column;
      color: #fefefe;
      text-align: center;
      row-gap: 55px;
    }
  }
  .section3 {
    width: 100%;
    background-color: saddlebrown;
    padding: 30px;
    display: flex;
    > img {
      width: 80%;
      height: 100%;
      object-fit: contain;
    }
  }
}
